.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    color: gray;
    font-size: max(1vw,12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: black;
}

.cart-items-item img{
    width: 50px;
}

.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}